body,
.app {
  background-color: #EFF4FB;
}

.header {
  background-color: #153F8E;
  color: white;
  padding: 30px 15px;
  text-align: center;
}

.header__logo {
  height: 50px;
  margin-bottom: 10px;
}

.header__title {
  font-size: 1.5em;
  margin-bottom: 0;
}
